<div class="panel panel-primary">
    <div class="panel-heading">
        {{pageTitle}}
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-2">Filter By:</div>
            <div class="col-md-4">
                <input class="input-group-sm" type="text" [(ngModel)]='listFilter'/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h3> Filtered By:{{listFilter}}</h3>
            </div>
        </div>
        <div class="row">
            <div class="table-responsive">
                <table class="table" *ngIf='products && products.length'>
                    <thead>
                        <tr>
                            <th>
                                <button class="btn btn-primary" 
                                        (click)='toggleImage()'>
                                   {{showImage?'Hide':'Show'}} Image
                                </button>
                            </th>
                            <th>Product Name</th>
                            <th>Country Of Origin</th>
                            <th>Product Base Price</th>
                            <th>Manufacture Date</th>
                            <th>product Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor='let product of products '>
                            <td>
                                <img *ngIf ='showImage'
                                     [src]='product.imageUrl'
                                     [title]='product.productName'
                                     [style.width.px]='imageWidth'
                                     [style.margin.px]="imageMargin" />
                            </td>
                           <!--<td><span class="badge">{{product.id }}</span>
                               <a [routerLink]="['/product', product.id]">{{product.productName}}</a></td> --> 
                            <!--<td><li  class="btn btn-primary" (click)='onSelect(product)'>
                                 {{ product.productName }}</li> </td>-->
                                 <td><li class="btn btn-primary" [routerLink]="['/productDetails',product.id]">
                                 {{product.productName}}</li></td>
                            <td>{{product.countryOfOrigin}}</td>
                            <td>{{product.productBasePrice}}</td>
                            <td>{{product.manufactureDate}}</td>
                            <td>{{product.productDescription}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    

</div>
